<!DOCTYPE html>
<html lang="en">
{% load static  %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="chatkeywords" content="{{chatkeywords}}">
    <meta name="chatsummary" content="{{chatsummary}}">
    <meta name="chatshortsummary" content="{{chatshortsummary}}">
    <meta name="defaultmsg" content="{{defaultmsg}}">
    <meta name="rawstart" content="{{rawstart}}">
    <meta name="rawchatsummary" content="{{rawchatsummary}}">
    <meta name="rawchatshortsummary" content="{{rawchatshortsummary}}">
    <meta name="rawchatkeywords" content="{{rawchatkeywords}}">
    <meta name="chatdates" content="{{chatdates}}">
    <meta name="rawchatdates" content="{{rawdates}}">
    <meta name="category" content="{{category}}">
    <meta name="orgs" content="{{orgs}}">
    <meta name="persons" content="{{persons}}">
    <meta name="locs" content="{{locs}}">
   
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'legal/mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'legal/mainpage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'legal/mainpage/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'legal/mainpage/css/creative.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'legal/mainpage/chatcss.css' %}">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Case Studies</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Highlighted Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#info">Informatics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Ask Questions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Document Studied!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">We have read and understood your document, highlighted the key points and summarised it for you. You can also ask questions to our bot</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#readtexthead">Highlighted Text</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#readsummaryhead">Summary</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#infor">Informatics</a>
            <br>
          </div>
          <div class="col-lg-8 mx-auto">
          	<a class="btn btn-primary btn-xl js-scroll-trigger" href="#qahead">Ask Questions</a>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contacthead">Contact Us</a>
          </div>
        </div>
      </div>
    </header>
            

    <section class="bg-primary" id="readtexthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Case Report</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We have read the full document and noted the key points. This is the original text with the key points highlighted for you to keep in mind</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#readtext">Read the text!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="readtext">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Highlighted report of {{filename}}</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto; height:500px;">{{realtext|safe}}</p>
          </div>

        </div>
      </div>
    </section>

    <section id="readsummaryhead" class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Document summary</h2>
        <p class="text-faded mb-4">We have summarised the document and preserved only the important things. Go ahead and give it a read</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#summary">Read the summary!</a>
      </div>
    </section>
      <section id="summary">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Summary of {{filename}}</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto; height:500px;">{{summary|safe}}</p>
          </div>

        </div>
      </div>
    </section>

    <section id="informatics" class="bg-primary" id="info">
    	<div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Informatics</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Check out some the information we found to be important</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#infor">Check out the data we obtained</a>
          </div>
        </div>
      </div>
    </section>
    </section>
      <section id="infor">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Type of the Document</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto">{{category}}</p>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Names of People Involved</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto">{{persons}}</p>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Locations of Importance</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto">{{locs}}</p>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Organizations Involved</h2>
            <hr class="my-4">
            <p class="mb-5" style="overflow-y: auto">{{orgs}}</p>
          </div>
        </div>
      </div>
    </section>

    <section id="qahead" class="bg-dark text-white" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Questions and Answers</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Why go through the entire document when our bot has done it already? Go ahead and ask her things about the document such as key points of the document or to just brief you about the report in short</p>
            <button id="enablevoice" class="btn btn-light btn-xl js-scroll-trigger">Enable Voice</button>
          </div>
        </div>
      </div>
    </section>
    <section id="qabot">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Ask me things</h2>
            <hr class="my-4">
        </div>
      </div>
  </div>
  <div class="container">
  	<div class="row">
  	<div class="col-lg-8 mx-auto text-center">
  	<center>
            	            <p class="mb-5"><div class = "col-sm-offset-4 frame">
            	    <ul id="msglog"></ul>
            <div>
                <div class="msj-rta macro">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>
                    </div> 

                </div>
                <div id="sendmsg" style="padding:10px;">
                    <span id="sendbutton" class="fa fa-send-o fa-3x"></span>
                </div>
                <div id="recorder" style="padding:10px;">
                    <span id="recordbutton" class="fa fa-microphone fa-3x" style="color:black"></span>
                </div>                
            </div>
            </div></p>
            </center>
  </div>
</div>
</div>
  </section>
      <section id="contacthead" class="bg-primary">
      <div class="container text-center">
        <h2 class="mb-4 text-white">Contact info</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">We're always looking for ways to improve. Have advice or complaints? Drop a message!</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Talk to us</a>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact Us</h2>
            <hr class="my-4">
            <p class="mb-5">Have any feedback, complaints, or bug reports? We're always looking to improve.Feel free to contact us!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:devansh.shringi@outlook.com">ritusinha128@gmail.com</a>
            </p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:pal.avik10@gmail.com">thisispooja97@gmail.com</a>
            </p>
          </div>
<div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:thioketone98@gmail.com">kruthikakalmali@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'legal/mainpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'legal/mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'legal/mainpage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'legal/mainpage/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'legal/mainpage/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'legal/mainpage/BingSpeech.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'legal/mainpage/js/creative.min.js' %}"></script>
    <script src="{% static 'legal/mainpage/chatjs.js' %}"></script>
  </body>

</html>
